body {
  background-color: #eeede7;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

li {
  text-decoration: none;
}

/*** Navbar ***/
.navbar {
  border: 1px solid #333;
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
}

.navbar-items {
  display: flex;
  justify-content: flex-end;
}

.navbar-item {
  display: inherit;
  justify-content: center;
  width: 70px;
}

.navbar a.active {
  background-color: #eeede7;
  font-size: 20px;
  font-weight: bold;
  padding: 7px 10px;
  border-right: #333 1px solid;
}

.navbar a.active:hover {
  background-color: #fff;
  color: #333;
}

.navbar a {
  float: left;
  color: #333;
  text-align: right;
  padding: 10px 14px;
  margin-bottom: 0;
  text-decoration: none;
  font-size: 16px;
  border-right: #333 1px solid;
}

.navbar a:hover {
  background-color: #eeede7;
  color: black;
}

/*** Date ***/
#set-date {
  text-align: right;
  margin-right: 5px;
  padding: 0.5rem;
  width: 50%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.75)
}

#set-date:hover {
  color: black;

}

/*** Book Storage ***/
#book-storage {
  border: 1px solid #333;
  box-shadow: rgba(22, 22, 22, 0.815) 0.1rem 0.2rem;
  width: 200px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.book-div {
  display: flex;
  height: 2.5rem;
  align-items: center;
}

.book-div:nth-child(odd) {
  background-color: #fff;
}

.book-info {
  margin-left: 10px;
  width: 88%;
}

/*** Form ***/

form {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: 3rem auto;
}

input {
  margin: 0.25rem auto;
}

button {
  background-color: #eeede7;
  box-shadow: rgba(22, 22, 22, 0.815) 0.1rem 0.2rem;
}

.form-title {
  text-align: center;
}

.form-divider {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

#add-book-button {
  margin: 0.5rem auto;
  width: 15%;
}

/*** Contact info ***/
#contact-info {
  padding: 1rem;
  margin: 0 auto;
  width: 50%;
}

/*** Footer ***/
footer {
  border: 1px solid #333;
  background-color: #fff;
  padding: 0.5rem;
  text-align: left;
  width: 50%;
  margin: 0 auto;
}