li {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgb(224, 231, 231);
  align-items: center;
  justify-content: center;
}

.book {
  display: flex;
  flex-direction: row !important;
  height: 2.5rem;
  align-items: center;
}

form {
  display: flex;
  width: 30%;
  flex-direction: column;
}
